
*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

      
      
      h2{
          text-align: center;
          background-color: yellowgreen;
          padding: 20px;
          margin-bottom: 0;
          }
      

      
      .nleft{
            height: 450px;
            background-image: url(imagenes.png/gym.jpg);
            background-size: cover;
            background-position: center;
      }

      .nright{
            background-color: black;
            color: blanchedalmond;
            font-family: 'Alkatra', cursive;
            font-family: 'Bebas Neue', sans-serif;
            text-align: center;
      
      }

      .nright h3{
            font-size: 50px;

      }

      .nright p{
            font-size: 27px;
      }

      .bot{
            background-color: goldenrod;
            font-size: 20px;
      }

      .bot:hover{
            background-color: orangered;
      }

      .home{
            width: 100%;
            height: auto;
            background-color: black;
      }

      .footer{
            background-color: rgb(109, 103, 103);
            text-align: center;
            padding: 20px;
      }

      .footer h3{
            color: yellowgreen;
      }

      .footer p{
            color: white;
            font-size: 17px;
      }

      .redes{
            color: black;
            font-size: 35px;
            letter-spacing: 10px;
      }

      .galeria{
                  width: auto;
      
      }

      .galeria img{
            object-fit: cover;

      }

      .jumbotolon{
            background-image: url(imagenes.png/quiensoy.jpg);
            background-position: center;
            background-size: cover;
            height: 700px;
            color: blanchedalmond;
            text-shadow: 0 0 5px rgb(227, 7, 7);
            font-family: 'Alkatra', cursive;
            font-family: 'Bebas Neue', sans-serif;
            text-align: center;
            }

            .jumbotolon h3{
                  font-size: 32px;
            }

            .jumbotolon p{
                  font-size: 15px;
            }

            .gym{
                  background-color: black;
            }

            .disciplina{
                  height: 600px;
                  width: 100%;
                  background-size: 100%;
                  background-image: url(imagenes.png/discipline.jpg);
                  background-color: black;
                  overflow: hidden;
                  background-size: contain;
                  background-repeat: no-repeat;
                  background-position: center;
                  background-attachment: fixed;
                  margin: 0 auto;
                  }
            

      .planes{
            background-color: black;
      }
      
      .container{
          display: flex;
          height: 100vh;
       align-items: center;
       background-color: black;
       }
      
       .img1{
          width:60%;
          height:70% ;
      
       }
      
       .img2{
      width:60% ;
      height: 70%;
       }
       .img3{
          width:60% ;
          height:70% ;
      
       }

       .planes p{
            font-size: 20px;
            color:burlywood ;
            font-family: 'Alkatra', cursive;
            font-family: 'Bebas Neue', sans-serif;
       }

       .contTitulo {
            margin-top: 40px;
            text-align: center;
      }

       form {
            padding-top: 20px;
            padding-left: 60px;
            padding-right: 60px;
            height: 100vh;
      }

      .contacto{
            background-color: yellowgreen;
      }

      .galeria2 {
            width: 100%;
            height: auto;
            background-color: black;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(4, 500px);
        }
        
        


      .item {
            width: 100%;
            background-color: black;
            background-size: cover;
            background-position: center;
            display: grid;
        }

        .item1 {
            background-image: url(imagenes.png/cambios\ 4.png);
        }

        .item2 {
            background-image: url(imagenes.png/cambios\ 6.png);
        }

        .item3 {
            background-image: url(imagenes.png/cambios\ 5.png);
        }

        .item4 {
            background-image: url(imagenes.png/cambios3.jpg);
        }

        .item5 {
            background-image: url(imagenes.png/cambios2.png);
        }

        .item6 {
            background-image: url(imagenes.png/cambios1-1.png);
        }
            
      
      .tituloGal p {
            font-size: 30px;
            text-align: center;
            background-color: black;
            height: 70px;
            color: burlywood;
            font-family: 'Alkatra', cursive;
            font-family: 'Bebas Neue', sans-serif;
      }



.productos{
      background-color: black;
      width: 100%;
      display: block;
}

.contenedor-productos {
      width: 100%;
      height: auto;
      background-color: rgb(0, 0, 0);
      padding: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: repeat(3, 200px);
      grid-gap: 20px;
}


.item1 {
      width: 300px;
      background-color: rgb(0, 0, 0);
      border: 5px solid white;
      background-size: 65%;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url(imagenes.png/cambios1-0.png);
      filter: grayscale(100%);
      transition: all 0.9s;
}

.item2 {
      width: 300px;
      background-color: rgb(0, 0, 0);
      border: 5px solid white;
      background-size: 75%;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url(imagenes.png/cambios2.png);
      filter: grayscale(100%);
      transition: all 0.9s;
  }

  .item3 {
      width: 300px;
      background-color: rgb(0, 0, 0);
      border: 5px solid white;
      background-size: 75%;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url(imagenes.png/cambios3.jpg);
      filter: grayscale(100%);
      transition: all 0.9s;
  }

  .item4 {
      width: 300px;
      background-color: rgb(0, 0, 0);
      border: 5px solid white;
      background-size: 90%;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url(imagenes.png/cambios\ 4.png);
      filter: grayscale(100%);
      transition: all 0.9s;
  }

  .item5 {
      width: 300px;
      background-color: rgb(0, 0, 0);
      border: 5px solid white;
      background-size: 75%;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url(imagenes.png/cambios\ 5.png);
      filter: grayscale(100%);
      transition: all 0.9s;
  }

  .item6 {
      width: 300px;
      background-color: rgb(0, 0, 0);
      border: 5px solid white;
      background-size: 75%;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url(imagenes.png/cambios\ 6.png);
      filter: grayscale(100%);
      transition: all 0.9s;
  }

  .item7 {
      width: 300px;
      background-color: rgb(0, 0, 0);
      border: 5px solid white;
      background-size: 65%;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url(imagenes.png/cambios\ 7);
      filter: grayscale(100%);
      transition: all 0.9s;
  }

  .item8 {
      width: 300px;
      background-color: rgb(0, 0, 0);
      border: 5px solid white;
      background-size: 50%;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url(imagenes.png/cambios\ 8);
      filter: grayscale(100%);
      transition: all 0.9s;
  }

  .item9 {
      width: 300px;
      background-color: rgb(0, 0, 0);
      border: 5px solid white;
      background-size: 65%;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url(imagenes.png/cambios\ 9);
      filter: grayscale(100%);
      transition: all 0.9s;
  }

@media (max-width: 768px) {
      .contenedor-productos {

            grid-template-columns: 1fr 1fr ;
            grid-template-rows: repeat(4,300px)
      }
}

@media (max-width: 450px) {
      .contenedor-productos {

            grid-template-columns: 1fr ;
            grid-template-rows: repeat(9,300px)
      }
}

main { 

      background-color: black;
      width: auto;
 }
